**/.settings
client/**/bin
client/**/gen
client/android/*/project.properties
firmware/*/Libraries
firmware/*/Release
firmware/*/arduino
firmware/*/.project
firmware/*/.cproject
proxy/.pyenv
**/*.pyc
*.d
*.o
*.eep
*.elf
*.hex
*.ar
*.class
