**/.settings
**/.cache
client/**/bin
client/**/gen
client/android/*/project.properties
firmware/*/.cproject
firmware/*/.project
firmware/*/.travis.yml
**/.pyenv
**/*.pyc
**/compile_commands.json
*.d
*.o
*.eep
*.elf
*.hex
*.ar
*.class
*.swp
