arduino/.metadata/*
arduino/HomeKeeper/.settings/*
arduino/RadioReceiver/.settings/*
arduino/RadioSender/.settings/*
android/.metadata/*
android/.recommenders/*
android/HomeKeeper/.settings/*
android/HomeKeeper/gen/*
android/HomeKeeper/bin/*
android/appcompat_v7/gen/*
android/appcompat_v7/bin/*
*.d
*.o
*.eep
*.elf
*.hex
*.ar
*.class
